<div id="footer">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h3>PLACES</h3>
            <ul>
                <li>Jaipur</li>
                <li>Udaipur</li>
                <li>Udaipur</li>
                <li>Jaisalmer</li>
                <li>Mount Abu</li>
                <li>Joadhpur</li>
            </ul>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h3>FOOD</h3>
            <ul>
                <li>Jaipur</li>
                <li>Udaipur</li>
                <li>Udaipur</li>
                <li>Jaisalmer</li>
                <li>Mount Abu</li>
                <li>Joadhpur</li>
            </ul>
        </div>

        <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
            <h3>Subscribe our Newsletter</h3>
            <input type="text" class="form-control" placeholder="abc@gmail.com">
            <button type="submit" class="form-control btn-success" > Submit</button>
        </div>


    </div>
</div>
